body {
  font-size: 10px;
}

#blue-div-nav .navbar-icons{
    /* font-weight: 600; */
}

#white-div-nav .menu-items {
    margin: 8px 0px;
    padding: 0 2px;
}

#white-div-nav .toggler-icon {
    /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); */
    width: 18px;
    height: 3px;
    background-color: black;
    margin-bottom: 3px;
    /* border: 1px solid red; */
}

#blue-div-nav a em, .white-div a.white-div-input em{
    font-size: 23px;
}

#blue-div-nav .menu-items {
    margin: 8px 0px;
    /* border: 1px solid red; */
    padding: 0 2px;

}

#blue-div-nav .toggler-icon {
    width: 18px;
    height: 3px;
    background-color: white;
    margin-bottom: 3px;
}

.white-div-tee{
   position: relative;
   /* left: 5px; */
}

#white-div-nav .navbar-icons{
    /* position: relative; */
    /* left: -8px; */
    /* top: 15px; */
    padding: 5px 0;
    font-size: 22px;
    /* border: 1px solid red; */
}

.container-fluid{
     /* border: 1px solid red; */
}

#blue-div-nav{
    height: 60px !important;
}

.blue-div-tee{
    margin: -7px 0;
    /* border: 1px solid red; */
    /* position: relative; */
    /* left: -10px !important; */
}

#blue-div-nav .navbar-icons{
  padding: 5px 0;
  /* position: relative; */
  /* left: -4px; */
  font-size: 22px;
  /* border: 1px solid red; */
  /* margin-left: 1px; */
} 

.hide-and-show{
    padding: 30px 0px 60px;
    /* padding-top: 40px; */
    /* padding-bottom: 30px; */
    /* height: 90px; */
}

/* #blue-div-nav ul li, #white-div-nav ul li{
    height: 100%;
    display: inline-block;
    margin-top: -7px;
    margin-bottom: -7px;
} */

#blue-div-nav ul li a, #white-div-nav ul li a{
    /* padding: 17px 10px; */
}

.navbar-icons .user-sell-white-nav{
    /* height: 100%;
    display: inline-block; */
    /* padding-top: 10px;
    padding: 10px; */
}

/* .blue-div-form{
    position: relative;
    left: -30px !important;
} */

/* .white-div-form{
    position: relative;
    left: -20px;
} */


/* #white-div-nav ul.large-screen-menulinks{
    position: relative;
    left: -50px;
} */

/* .user-icon{
    position: relative;
    left: 10px;
} */

#nav-tabs{
  margin-bottom: -40px;
}

#my-events-listing{
  padding-top: 30px;
  padding-bottom: 15px;
}


#my-events span{
  font-size: 24px;
  line-height: 45px;
  color: #262626;
  font-weight: 600;
  padding: 0 20px;
}

#nav-tabs ul li a{
  color: #2d2626;
  font-weight: 400;
}

#nav-tabs li#profile1 a.active::after{
  content: "";
  border-bottom: 4px solid #026cdf;
  display: block;
  width: 47px;
  position: relative;
  top: 5px;
}

#nav-tabs li#subscriptions1 a.active::after{
  content: "";
  border-bottom: 4px solid #026cdf;
  display: block;
  width: 100px;
  position: relative;
  top: 5px;
}

#profile{
    margin-top: -15px;
    margin-bottom: -15px;
}

div.my-info span{
    font-size: 20px;
    line-height: 45px;
    color: #262626;
    font-weight: 600;
    padding: 0 12px;
}

form.acct-settings-form{
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px;
}

.acct-settings-form input[type="text"]{
    border: 1px solid rgb(153, 153, 153);
}

.acct-settings-form input:focus{
    border: 1px solid #0a56c5;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.acct-settings-form label, .acct-settings-form span{
    font-size: 12px;
}

button.btn-primary{
    background: #0a56c5;
    outline: #0a56c5;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr#acct-setting-horizontal{
    border: 1px solid #e6eaed;
    margin-top: 30px;
    margin-bottom: 20px;
}

#account-security, #account-location, #forgot-password{
    margin: 10px 19px 10px 15px;
    font-size: 16px;
    font-weight: 400;
}

#phone-number, #phone-number input[type="text"]{
    color: #d5d5d5;
}

#phone-number input[type="text"]{
    border: 1px solid #999999;
}

input.form-control:disabled {
    background-color: white;
}

input[type="password"]::placeholder{
    padding-left: 220px;
    color: #0a56c5;
    cursor: pointer;
}

input[type="password"]::-webkit-input-placeholder{
    padding-left: 220px;
    color: #0a56c5;
    cursor: pointer;
    font-weight: 600;
}

div.my-sub p{
    color: #262626;
    font-size: 16px;
    font-weight: 500;
    padding: 0 15px;
}

#account-subscription{
    font-size: 12px;
    font-weight: 400;
}

#email-account{
    font-size: 16px;
}

#nav-tabs a#edit-profile{
    padding-left: 15px;
    padding-right: 15px;
    color: #026cdf;
}

form.form-live-alert{
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px;
    /* margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px; */
}

form ul.first-checklist{
    margin-left: -30px;
    margin-right: 10px;
}

ul.first-checklist input.form-check-input{
    background-color: white;
    border: 2px solid #a1a1a1;
    border-radius: 2px;
    height: 25px;
    width: 25px;
}

label a.guide-alerts{
    /* margin: 10px 15px; */
    position: relative;
    top: 5px;
    left: 10px;
    font-weight: 500;
}

#nav-tabs .tab-pane a {
    color: #262626;;
}

li p.alerts{
    padding: 10px 35px 3px 10px;
    font-weight: 500;
    /* border: 1px solid red; */
}

label a#first-guide-alert::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 25px;
    content: "\f106";
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    color: #0a56c5;
}

li.nested-list-alerts{
    margin-bottom: 20px;
}

li.nested-list-alerts input.form-check-input{
    /* position: absolute;
    left: -2px; */
    margin-left: -30px;
    margin-right: -30px;
}

label a.nested-guide-alerts{
    position: relative;
    top: 5px;
    /* left: -10px; */
    /* margin: 35px 5px 0px; */
    font-weight: 500;
    /* border: 1px solid red; */
}

ul li p.nested-alerts{
    margin: 10px 30px 3px 0px;
    font-weight: 500;
    /* border: 1px solid red; */
}

.heart-shape-div{
    border: 1px solid #ebebeb;
    border-radius: 5px;
    background: #fcfcfc;
    font-size: 20px;
    /* margin-left: 25px;
    margin-right: 20px; */
    margin-top: 15px;
    margin-bottom: -30px;
    /* padding: 0px; */
}

.heart-shape-div img{
    max-width: 100%;
    height: auto;
}

#favorite{
    color: #9d62c2;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
}

.heart-shape-div hr{
    border: 1px solid #9d62c2;
    margin-top: -5px;
    margin-bottom: -5px;
}

.manage-team{
    font-size: 14px;
}

button.btn-outline-primary{
   border-color: #026cdf;
   color: #026cdf;
   font-weight: 600;
}

footer.footer{
    text-align: justify;
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    line-height: 20px;
}

footer div#privacy{
    margin-top: 5px;
    margin-bottom: 5px;
}

#order-page-line{
    position: absolute;
    left: 15px;
}




/* media queries here */


@media only screen and (min-width:411px) and (max-width: 599px){

    #blue-div-nav .user-icon, #white-div-nav .user-icon{
        position: relative;
        left: -5px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .blue-div-form, .white-div-form, .white-div-input, .help{
        display: none;
    }

    .search-icon, .white-ticket-brand{
        display: inline-block;
    }

    .hide-and-show{
        padding-top: 40px;
        padding-bottom: 40px;
        height: 120px;
    }

     .white-div-tee {
       position: relative;
       /* left: 20px; */
    }


    #white-div-nav .navbar-icons{
        position: relative;
        /* left: 10px; */
        padding-top: 20px;
    }

    #white-div-nav .menu-items, 
    #blue-div-nav .menu-items {
        padding: 0 15px;
    }

    #my-events span{
        font-size: 46px;
    }

    #nav-tabs li#profile1 a.active::after{
        width: 60px;
    }

    #nav-tabs li#subscriptions1 a.active::after{
        width: 120px;
    }

    .medium-screen-horizontal{
        width: 66.66%;
        margin-left: -3px;
    }


    .heart-shape-div{
        height: 100%;
        position: relative;
        bottom: 70px;
        /* border: 1px solid red; */
    }

    footer.footer{
        text-align: center;
        margin-top: 200px;
    }
    
}

@media only screen and (min-width: 992px) {
    .blue-div, .blue-div a em, #blue-div-nav .navbar-icons,
    .hide-and-show, .white-div a em, #white-div-nav .navbar-icons  {
        font-size: 16px;
    }

    #blue-div-nav{
        height: 30px !important;
    }

   .blue-div-form {
        position: relative;
        left: -120px;
        top: 2px;
    }

    #blue-div-nav .large-screen-menulinks{
        position: relative;
        left: -100px;
    }

    #blue-div-nav .navbar-icons {
        position: relative;
        left: 35px;
    }

    #blue-div-nav .user-icon, #white-div-nav .user-icon {
        position: relative;
        left:30px;
    }

    .hide-and-show{
        padding-top: 60px;
        padding-bottom: 40px;
        height: 140px;
    }

    .white-div-tee{
        /* position: relative; */
        /* left: 15px; */
    }

    .white-div-form {
        position: relative;
        left: -120px;
        bottom: 5px;
    }

    #white-div-nav .large-screen-menulinks{
       margin-left: -100px;
    }

    #white-div-nav .navbar-icons {
        position: relative;
        left: 35px;
        top: 10px;
    }

    #nav-tabs{
         padding: 0px 20px 0px 5px;
    }

    #my-events-listing{
        padding-top: 60px;
        padding-bottom: 35px;
    }


    #my-events span{
        font-size: 46px;
    }

    .medium-screen-horizontal{
        width: 75%;
        margin-left: -3px;
    }


    .heart-shape-div{
        height: 100%;
        position: relative;
        bottom: 70px;
    }

    footer.footer{
        text-align: center;
        margin-top: 200px;
    }

}
@media only screen and (min-width: 1200px){
    /* .blue-div-tee{
        position: relative;
        left: 20px
    }

    .white-div-tee{
        position: relative;
        left: 40px  
    } */

    .blue-div-form{
        position: relative;
        left: -160px
    }

    .white-div-form{
        position: relative;
        left: -160px
        /* border: 1px solid red; */
    }

    #white-navbar-input-field, #blue-navbar-input-field {
        /* width: 400px; */
    }

    #blue-div-nav .large-screen-menulinks{
        position: relative;
        left: -210px;
    }

    #white-div-nav .large-screen-menulinks{
        position: relative;
        left: -110px;
    }

    #blue-div-nav .user-icon {
        position: relative;
        left: 50px;
    }

    #white-div-nav .user-icon {
        position: relative;
        left: 50px;
    }

   #blue-div-nav .navbar-icons {
        position: relative;
        left: 40px;
    }
    
}

@media only screen and (min-width: 1440px){
    /* .blue-div-tee{
        position: relative;
        left: 30px
    }

    .white-div-tee{
        position: relative;
        left: 55px  
    } */

    .blue-div-form{
        position: relative;
        left: -210px
    }

    .white-div-form{
        position: relative;
        left: -210px
    }

    #white-navbar-input-field, #blue-navbar-input-field {
        /* width: 400px; */
    }

    #blue-div-nav .large-screen-menulinks{
        position: relative;
        left: -330px;
    }

    #white-div-nav .large-screen-menulinks{
        position: relative;
        left: -230px;
    }

    #blue-div-nav .user-icon {
        position: relative;
        left: 90px;
    }

    #white-div-nav .user-icon {
        position: relative;
        left: 89px;
    }

   #white-div-nav .navbar-icons {
        position: relative;
        left: 80px;
    }

    #blue-div-nav .navbar-icons {
        position: relative;
        left: 80px;
    }

    #white-div-nav a.nav-link.more, #blue-div-nav a.nav-link.more{
        display: none;
    }

    #white-div-nav li.nav-item .dropdown-menu, #blue-div-nav li.nav-item .dropdown-menu{
        position: absolute;
        display: flex;
        flex-direction: row;
    }

    .large-screen-navlinks .dropdown .dropdown-menu {
        position: absolute;
        top: -5px;
        border: none;
        background-color: transparent;
    }

    #blue-div-nav .large-screen-navlinks .dropdown .dropdown-menu a{
        color: white;
        padding-right: 5px;
    }

        #white-div-nav .large-screen-navlinks .dropdown .dropdown-menu a{
        padding-right: 3px;
    }
    
}