body {
  font: normal 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* overflow-x: hidden; */
  letter-spacing: 0.3px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  position: relative
}

html, body {
  overflow-x: hidden;
}

.ticket-sales-header {
  color: white;
  font-size: 20px;
  padding: 10px;
  background: linear-gradient(
    90deg,rgba(25, 11, 160, 1) 0%,rgba(33, 19, 168, 1) 56%,
    rgba(25, 11, 160, 1) 100%
  );
  height: 180px;
  padding: 0;
}

select.btn-color-theme, button.btn-color-theme{
  color: #190ba0;
  border: 1px solid #190ba0;
  background-color: transparent;
    /* background-color: #190ba0; */
}

.company-logo a:hover, p#diamond-tour a:hover{
  text-decoration: none;
}

.hamburger-icon{
  margin: 8px 0px;
  /* padding-top: 12px; */
  /* border: 1px solid red; */
}

#ticket-sales-icons .toggler-icon{
    width: 18px;
    height: 3px;
    background-color: white;
    margin-bottom: 3px;
    /* border: 1px solid maroon; */
}

.company-logo{
 position: relative;
  left: -20px;
  margin-top: -22px;
  margin-bottom: -22px;
}

.company-logo a em {
  color: white;
  font-size: 25px;
  font-weight: 600;
  /* border: 1px solid red; */
}

small#copy{
  font-size: 10px;
  position: relative;
  right: 5px;
}

#ticket-sales-icons{
  position: relative;
  left: 15px;
}

#ticket-sales-icons i.fas, #ticket-sales-icons i.far{
  font-size: 16px;
  /* font-weight: 300; */
}


#sync-icon a, span#signin a, p#diamond-tour a{
  color: white;
}

#sell-ticket, span#signin a{
  font-size: 16px;
}


.artist-schedule{
  background-color: #0256b2;
  color: white;
  height: 90px;
  border-top: 1px solid #014085;
  position: absolute;
  top: 60px;
  z-index: 2;
  width: 100%;
  /* border: 1px solid red; */
}

div#artist-img{
  position: relative;
  top: 7px;
  left: 15px;
  /* padding: 5px; */
}

p#diamond-tour{
  font-size: 12px;
  position: relative;
  top: 5px;
  /* left: -5px; */
  font-weight: 500;
}

button#more-info{
  border-radius: 30px;
  padding: 0px 5px;
  width: 120px;
  position: relative;
  top: 2px;
  /* left: 7px; */
}

p#date-time{
  font-size: 14px;
  position: relative;
  /* bottom: 25px; */
}

#spinner{
  background: #e8ecf2;
}

#spinner img{
  position: relative;
  left: 70px;
}

.spinner-icons i.fas{
  border: 1px solid white;
  border-radius: 3px;
  background: white;
  padding: 10px;
  text-align: center;
  width: 40px;
  height: 40px;
}

.spinner-icons i.fas.fa-undo, i.fas.fa-minus{
  color: #c1dbf7;
  font-size: 20px;
}

.spinner-icons i.fas.fa-plus{
  color: #190ba0;
  font-size: 20px;
}

.spinner-footer{
  color: #8e8f90;
  font-size: 12px;
  margin: 250px 0;
}

.spinner-footer a{
  color: #414142;
  font-weight: 600;
}

.spinner-footer a:hover{
  color: #848485;
}

form select option[value="*"]{
  color: #190ba0;
}

div select{
  position: relative;
  /* left: -12px; */
}
div button#filters{
  position: relative;
  /* left: -30px; */
}

button#filters::before{
  font-family: "Font Awesome 5 Free";
  content: "\f1de";
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  font-weight: 900;
}

#seat-calculator{
  border-left: 1px solid #dbe2e8;
  /* background: white; */
}

ul div{
  display: flex;
  /* align-content: center; */
  justify-content: space-between;
}

li a#seat-link{
  position: relative;
  left: 50px;
}

#input-left-slider{
  max-width: 100%;
  width: 50px;
  position: relative;
  /* right: 15px; */
  /* padding-right: 20px; */
  /* border: 1px solid red; */
}

#input-right-slider{
  max-width: 100%;
  width: 70px;
  position: relative;
  /* right: 15px; */
  /* padding-right: 20px; */
  /* border: 1px solid red; */
}
/* ==============================================
      slider section for purchasing tool
==============================================*/
.labels{
    font-size: 25px
}
.range-slider{
    width: 100%;
    position: relative;
    left: -30px;
    margin-top: 5px;
}
input[type="range"]{
  -webkit-appearance:none;
  width: 150px;
  height: 10px;
  border-radius:5px;
  background: #190ba0;
}

input[type="range"]::-webkit-slider-runnable-track{
   -webkit-appearance:none;
    appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.5);
  /* border: 1px solid #f77ade;; */
  cursor: pointer;
  position: relative;
  z-index: 1;
}


input[type='range']:nth-child(1)::-webkit-slider-thumb{
  z-index: 2;
}

input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
  background: none;
}

.range-slider span {
    /* border: 1px solid #f77ade;; */
    position: absolute;
    /* right: 100px; */
    top: 47px;
    left: 0;
    width: 40px;
    height: 40px;
    /* text-align: center;
    color: red;
    line-height: 30px;
    font-size: 25px;
    pointer-events: none; */
  }

  .range-slider .slider-right-span{
   position: absolute;
   float: right;
   margin-right: -5px;
}
  
  .slider-span-lease::before {
    content: attr(data-val) " ";
  }
  /* ==============================================
        Slider section end
==============================================*/

/* table styling */
li a.active{
  color: black;
  font-weight: 700;
  /* border-bottom: 3px solid #026cdf; */
}

li a#price-link.active{
  content: "";
  border-bottom: 3px solid #190ba0;
  display: block;
  /* width: 80px; */
  position: relative;
  left: -15px;
}

li a#seat-link.active{
  /* width: 50%; */
  /* margin-left: -20px;
  margin-right: 20px; */
}

.none-active{
  color: #190ba0;
  font-weight: 400;
}

tr.table-head{
  background: #f8e4d4;
}

tr.table-head:hover{
  background-color: #f1f1f1;
}

td a {
  font-weight: 600;
  font-size: 14px;
}

i.fa-star{
  text-align: center;
  border: 2px solid #dfa24c;
  border-radius: 50%;
  padding: 5px 5px 7px;
  font-size: 10px;
  color: #dfa24c;
  background: white;
  /* width: 23px; */
}

.vip-package{
  color: #262626;
}

.money-range{
  font-size: 10px;
  color: #727272;
}

.number-rows, .zero-limit, footer button.btn-success{
  font-weight: 700;
}

.admission{
  font-size: 14px;
  color: #727272;
}

footer .footer-section{
  background: #f6f6f6;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 15px;
  font-weight: 700;
}

footer .ticket-limit{
  color: #919191;
  font-size: 12px;
}

footer button{
  position: relative;
  left: 10px;
}

.active-tab-links{
  color: black;
}


@media only screen and (min-width:360px) and (max-width: 375px){
  div button#filters{
    position: relative;
    /* right: 20px; */
  }

  #ticket-sales-icons{
    position: relative;
    left: 30px;
  }

  .tickets-selection{
    margin: 0 8px;
  }

  .range-slider{
    position: relative;
    left: -50px;
  }
  input[type="range"]{
    width: 180px;
  }

  #input-right-slider{
    position: relative;
    right: 10px;
  }

  footer button{
    position: relative;
    left: 25px;
  }
}

@media only screen and (min-width: 411px) and (max-width:767px){
  #ticket-sales-icons{
    position: relative;
    left: 40px;
  }

   .tickets-selection{
    margin: 0 18px;
  }

  .range-slider{
    position: relative;
    left: -50px;
  }
  input[type="range"]{
    width: 180px;
  }

  #input-right-slider{
    position: relative;
    right: 10px;
  }

  li a#seat-link{
    position: relative;
    left: 120px;
  }

  footer button{
    position: relative;
    left: 25px;
  }

}

@media only screen and (max-width:767px){
  div#artist-tour{
    position: relative;
    left: 20px;
  }

  .sell-signin, #artist-img, #spinner{
    display: none;
  }
  
}

@media only screen and (min-width: 768px){
  .footer-section, #spinner{
    display: none;
  }

  i.fas, i.far{
    font-size: 16px;
  }

  div#artist-tour{
    position: relative;
    left: -10px;
  }

  #sync-icon{
    position: relative;
    left: 80px;
    /* border: 1px solid red; */
  }
  
  #user-icon {
    position: relative;
    left: 40px;
    /* border: 1px solid red; */
  }

  .tickets-selection{
    margin: 0 15px;
  }
 
  .range-slider{
    position: relative;
    left: -70px;
  }
  input[type="range"]{
    width: 570px;
  }

  li a#seat-link{
    position: relative;
    left: 330px;
  }

  table{
    /* border: 1px solid red; */
    height: calc(70vh);
    overflow-y: scroll;
  }

  html, body{
    overflow-y: hidden;
  }
}

@media only screen and (min-width: 992px){
  #spinner{
    display: inline-block;
  }

  .ticket-sales-header{
    height: 150px;
  }

  #ticket-sales-icons{
    position: relative;
    left: 13%;
    /* border: 1px solid red; */
  }

  .tickets-selection{
    margin: 0 3px;
  }
 
  .range-slider{
    position: relative;
    left: -45px;
  }
  input[type="range"]{
    width: 240px;
  }

  li a#seat-link{
    position: relative;
    left: 130px;
  }

  div#artist-tour{
    position: relative;
    left: -70px;
  }

  table{
    /* border: 1px solid red; */
    height: calc(71vh);
    overflow-y: scroll;
  }

  html, body{
    overflow-y: hidden;
  }

  .spinner-icons{
    position: relative;
    left: 40px;
  }

}

@media only screen and (min-width: 1200px){
   #sync-icon{
    position: relative;
    /* left: 60px; */
    /* border: 1px solid yellow; */
  }

  #ticket-sales-icons{
    position: relative;
    left: 19%;
  }

  div#artist-tour{
    position: relative;
    left: -120px;
    /* border: 1px solid red; */
  }

  .spinner-icons{
    position: relative;
    left: 60px;
  }
}

@media only screen and (min-width: 1440px){
  #ticket-sales-icons{
    position: relative;
    left: 20%;
  }

  .tickets-selection{
    margin: 0 10px;
  }

  .range-slider{
    position: relative;
    left: -55px;
  }
  input[type="range"]{
    width: 280px;
  }
}