body {
  font: normal 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* overflow-x: hidden; */
  letter-spacing: 0.3px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  position: relative
}

html, body {
  overflow-x: hidden;
}

.button-color{
  border: 1px solid #190ba0;
  background-color: #190ba0;
  color: white;
}

.blue-div a em,
.home-div-concert,
a.slide-captions,
.concert-category,
.sell {
  font-weight: 600;
}

.sell{
  position: relative;
  left: -5px;
}

.hide-and-show {
  color: #4e4d4d;
  font-size: 19px;
  display: none;
  height: 60px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
  border: 1px solid white;
  /* margin: -20px 0px; */
  /* padding: 5px 0px; */
}

#white-div-nav .hamburger-icon {
    margin: 16px 0px;
    /* padding: 0 2px; */
}

#white-div-nav .toggler-icon {
    /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); */
    width: 18px;
    height: 3px;
    background-color: black;
    margin-bottom: 3px;
    /* border: 1px solid red; */
}

#blue-div-nav .hamburger-icon {
    margin: 16px 0px;
}

#blue-div-nav .toggler-icon {
    width: 18px;
    height: 3px;
    background-color: white;
    margin-bottom: 3px;
}

.blue-div-logo {
  position: relative;
  left: -20px;
  margin-top: -17px;
  margin-bottom: -17px;
}

.white-div-logo {
  position: relative;
  left: -35px; 
  margin-top: -19px;
  margin-bottom: -19px;
}

.hide-and-show a, .hide-and-show a:hover {
   color: #4e4d4d;
   font-weight: 600;
}

.white-div a:hover,
.blue-div a:hover {
  text-decoration: none;
}

.blue-div {
  color: white;
  font-size: 20px;
  /* background: rgb(25, 11, 160); */
  background: linear-gradient(
    90deg,rgba(25, 11, 160, 1) 0%,rgba(33, 19, 168, 1) 56%,
    rgba(25, 11, 160, 1) 100%
  );
}

.blue-div a, .blue-div a:hover{
  color: white;
}

#blue-div-nav .navbar-icons{
  margin: -10px 0;
}

.menu-links-outer-div, .hamburger-outer-div{
  padding: 15px 8px;
  position: relative;
  text-align: center;
}

ul li .menu-links-outer-div {
  padding: 15px 16px;
  position: relative;
}

#blue-div-nav .menu-links-outer-div:hover{
  background: rgba(38, 38, 38, 0.1);
}

#white-div-nav .menu-links-outer-div:hover{
  background: rgb(230, 230, 230);
}

.home-div-concert {
  margin-top: -15px;
  font-size: 12px;
}

.concert-ticket {
  font-size: 24px;
}

.carousel-item a img {
  max-width: 100%;
  width: 100%;
  height: auto;
}



a.slide-captions {
  color: #190ba0;
  font-size: 16px;
  font-weight: 400;
}

a.slide-captions:hover {
  text-decoration: none;
  color: #190ba0;
}

.caption-text {
  font-weight: 400;
}

.concert-category {
  margin: 0 15px;
}

.concert-category a {
  text-decoration: underline;
  color: #dfa24c;
}

.concert-category a:hover {
  color: #190ba0;
}

select.concert-event-forms:hover,
#sort-date:hover {
  border: 2px solid #190ba0;
  cursor: pointer;
}

#sort-date {
  border: none;
}

footer.footer{
    text-align: justify;
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    background: #1f262d;
    line-height: 20px;
}


footer div#privacy{
  margin-top: 5px;
  margin-bottom: 5px;
}

footer span.terms-policy {
  font-weight: 600;
  color: white;
}

.row.sticky-nav {
  position: fixed;
  margin-left: 0px;
  margin-right: 0px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

/* .white-div */
#white-navbar-input-field {
  background-color: white;
  border-color: #bfbfbf;
  width: 320px;
}

#white-navbar-input-field:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid #190ba0;
}

#white-navbar-input-field::-webkit-input-placeholder,
#white-navbar-input-field::placeholder {
  color: #4e4d4d;
  position: relative;
  left: 25px;
}

.white-div-form{
  position: relative;
  left: 20px;
  bottom: 5px;
  /* margin: -8px 0 0; */
}

.white-div-form i.input-search-icon {
  z-index: 1;
  position: absolute;
  left: 17px;
  top: 10px;
  color: #757070;
  width: 0;
}

.white-div a.white-div-input em {
  font-weight: 600;
  font-size: 25px;
  color: #190ba0;
}

/* blue div */
#blue-navbar-input-field {
  background-color: #3578d5;
  border-color: #3578d5;
  width: 320px;
}

#blue-navbar-input-field:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid white;
}

.blue-div-form {
  position: relative;
  left: 20px;
  margin: 8px 0;
  /* top: 2px; */
}


.blue-div-form i.input-search-icon {
  z-index: 1;
  position: absolute;
  left: 17px;
  top: 10px;
  width: 0;
}

#blue-navbar-input-field::-webkit-input-placeholder,
#blue-navbar-input-field::placeholder {
  color: white;
  position: relative;
  left: 25px;
}

.arts, .family{
  display: none;
}

#img-gallery{
  padding: 20px 30px;
}



#img-gallery .static-image1 img, #img-gallery .static-image2 img{
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.category-form-fields{
  /* margin-left: -5px; */
  padding-left: 10px;
  padding-right: 10px;
}

.dropdown:hover .dropdown-menu{
  display: none;
}

.dropdown-menu{
  width: 255px;
}

.dropdown-menu a{
  padding-top: 15px;
  padding-bottom: 15px;
  color: #525151;;
}

.hide-and-show .dropdown-menu a:hover, 
.blue-div .dropdown-menu a:hover{
  background: #190ba0; 
  color: white;
}

 .large-screen-padding {
    max-width: 1296px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }

/* media queries */
@media only screen and (min-width: 320px) and (max-width: 375px){

  .hide-and-show .navbar-icons{
    position: relative;
    left: 10px;
    margin: -10px 0;
  }

  #blue-div-nav .hamburger-icon, #white-div-nav .hamburger-icon{
    position: relative;
    left: 5px; 
  } 

}

@media only screen and (min-width: 411px) and (max-width: 599px){
  #blue-div-nav .navbar-icons {
    position: relative;
    left: 20px;
  }

  #white-div-nav .navbar-icons {
    position: relative;
    left: 30px;
    top: -5px;
  }

  .sell{
    position: relative;
    left: 0px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .blue-div a em{
    font-size: 30px;
  }
}

@media only screen and (min-width: 575px) {
  footer.footer {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .sell{
    position: relative;
    left: 5%;
  }

}

@media only screen and (max-width: 767px) {
  .blue-div-form, .white-div-form, .white-div-input, #hide-div,
  .help, #placeholder-side-image, ul.large-screen-menulinks,
  #img-gallery, div.advert-section, .captions .live-button {
    display: none;
  }

}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .search-icon,
  ul.large-screen-menulinks,
  .carousel, .static-image3, div.advert-section, 
  #placeholder-side-image, .captions .live-button {
    display: none;
  }

  .concert-ticket {
    font-size: 32px;
    font-weight: 600px;
  }

  .blue-div a em{
    font-size: 22px;
  }

  .white-div a.white-div-input em {
    font-size: 22px;
  }

  #blue-div-nav .navbar-icons {
    font-size: 16px;
    position: relative;
    left: 35px;
  }

  #white-div-nav .navbar-icons{
    font-size: 16px;
    position: relative;
    left: 50px;
  }

  #blue-div-nav .hamburger-icon, #white-div-nav .hamburger-icon{
    position: relative;
    top: -2px;
  } 

  .blue-div-form {
    position: relative;
    left: -65px;
  }
  
  .white-div-form {
    margin-top: 15px;
    position: relative;
    left: -80px;
    /* left: -70px; */
  }

  /* for blue div */

  #blue-div-nav {
    padding-bottom: 60px;
  }

  #img-gallery div.captions{
    padding: 15px;
  }

}

/* media queries for large devices */
@media only screen and (max-width: 991px){
  .row.expand-at-large, hr.expand-at-large, .username{
    display: none;
  }
}

@media only screen and (min-width: 992px) {
   .search-icon, .hamburger-icon, .carousel, #hide-div {
    display: none;
  }

  .dropdown:hover .dropdown-menu{
    display: block;
  }


  .blue-div a em{
    font-size: 22px;
  }

  .white-div a.white-div-input em {
    font-size: 22px;
  }

  .concert-ticket {
    position: relative;
    bottom: 10px;
    font-size: 46px;
    font-weight: 600;
  }
 
  

  #blue-div-nav .navbar{
    position: relative;
    top: -13px;
  }

  .blue-div, .hide-and-show{
    font-size: 16px;
  }

  #blue-div-nav .navbar-icons {
    position: relative;
    margin: auto 5px;
    /* left: -25px; */
    top: 10px;
  }

  .hamburger-icon {
    display: none;
  }

  .blue-div-form {
    position: relative;
    left: -60px;
    margin: 10px 0;
  }

  .white-div-form {
    position: relative;
    /* top: 3px; */
    left: -75px;
    margin: 5px 0;
  }

  #white-div-nav .navbar-icons {
   position: relative;
    /* left: -15px; */
    margin: 5px 20px;
  }

  
  #blue-div-nav .large-screen-menulinks{
    position: relative;
    left: -50px;
    margin: -8px 0;
  }

  .white-div-logo {
    position: relative;
    bottom: 10px;
  }

  #white-div-nav .large-screen-menulinks{
    position: relative;
    left: -55px;
    margin: -15px 0;
  }

  div.advert-section{
    background-color:#f6f6f6;
  }

  #advert-img-div{
    padding: 10px 0px;
  }

  .static-image1 p.caption-text{
    /* word-spacing: 0.7em;
    font-size: 18px; */
  }

  .captions .live-button{
    position: relative;
    left: -30px;
    top: 35px;
  }

  div.advert-section img{
    /* margin: 0px auto; */
    /* width: 100%;
    height: auto; */
  }

  #img-gallery{
    margin-top: 30px;
  }

 #img-gallery .static-image1 div.captions{
    padding: 20px;
  }

  #img-gallery .static-image2 div.captions,
  #img-gallery .static-image3 div.captions{
    padding: 0px;
    margin: auto -10px;
  }

  .category-form-fields{
    /* border: 1px solid red; */
    /* padding-left: 30px; */
    /* width: 100%; */
    /* margin-right: 20px; */
  }

  select#sort-date{
    position: relative;
    margin: auto 15px;
  }

  #placeholder-side-image{
    position: relative;
    bottom: 120px;
  }

  footer header{
    font-size: 16px;
    color: white;
    margin-bottom: 16px;
  }

  footer .helpful-links div{
    margin-bottom: 16px;
  }

  footer a{
    font-size: 14px;
    color: white;
  }

  footer a:hover{
    color: #190ba0;
  }

  footer hr{
    border: 1px solid #8f9396;
  }
  footer.footer{
    text-align: justify;
  }

  footer div.center-at-lg{
    text-align: center;
  }
  
}

@media only screen and (min-width: 1200px) {

  .menu-links-outer-div, .hamburger-outer-div{
    padding: 30px 15px;
    position: relative;
    text-align: center;
  }

  #blue-div-nav .navbar{
    position: relative;
    top: -5px;
  }
 
  .blue-div-form{
    position: relative;
    left: -85px;
    top: 2px;
  }

  .white-div-form {
    position: relative;
    left: -95px;
    top: 3px;
  }

  #blue-div-nav .large-screen-menulinks{
    position: relative;
    left: -135px;
    margin: -20px 0;
  }

  #white-div-nav .large-screen-menulinks{
    position: relative;
    left: -135px;
    top: -5px;
  }

   #placeholder-side-image{
    position: relative;
    left: 40px;
  }

  #blue-div-nav .navbar-icons {
    position: relative;
    margin: -20px auto;
    left: 75px;
  }

  #white-div-nav .navbar-icons{
    position: relative;
    margin: -10px auto;
    left: 90px;
  }

  .white-div-logo{
    position: relative;
    bottom: 0px;
  }

  .captions .live-button{
    position: relative;
    left: -5px;
    top: 35px;
  }

  footer section.large-footer-padding{
    min-width: 1200px;
    width: 100%;
    padding-left: 64px;
    padding-right: 64px;
    box-sizing: border-box;
    margin: 0px auto;
    text-align: center;
  }

}



@media only screen and (max-width: 1295px){
  .header-text-divs{
    position: relative;
    margin: 0 10px;
  }
}

@media only screen and (min-width: 1440px){
  a.arts-dropdown,  a.family-dropdown{
    display: none;
  }

 .captions .live-button{
    position: relative;
    left: 25px;
    top: 35px;
  }

   .blue-div-form {
    position: relative;
    left: -115px;
  }

  .white-div-form {
    position: relative;
    left: -127px;
  }

  #blue-div-nav .large-screen-menulinks, 
  #white-div-nav .large-screen-menulinks{
    position: relative;
    left: -240px;
  }

  #blue-div-nav .navbar-icons {
    position: relative;
    left: 90px;
  }

  #white-div-nav .navbar-icons{
    position: relative;
    left: 110px;
  }

  .arts, .family{
    display: block;
  }

  .static-image3{
    position: relative;
    top: 30px;
  }

  footer section.large-footer-padding{
    max-width: 1296px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    margin: 0px auto;
  }
}