body {
  font: normal 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* overflow-x: hidden; */
  letter-spacing: 0.3px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  position: relative
}

html, body {
  overflow-x: hidden;
}

.button-color{
  border: 1px solid #190ba0;
  background-color: #190ba0;
  color: white;
}


.blue-div a em,
.home-div-concert,
a.slide-captions,
.concert-category,
.sell {
  font-weight: 600;
}

.hide-and-show {
  color: #4e4d4d;
  font-size: 20px;
  display: none;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
  border: 1px solid white;
  background-color: white;
}

.hide-and-show a, .hide-and-show a:hover {
  color: #4e4d4d;
  font-weight: 600;
}

.blue-div-logo{
  position: relative;
  left: -20px;
  top: -23px;
}

.white-div-logo {
  position: relative;
  left: -35px; 
  top: -25px;
}

#white-div-nav .hamburger-icon {
    margin: 16px 0px;
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    /* padding: 0 2px; */
}

#white-div-nav .toggler-icon {
    width: 18px;
    height: 3px;
    background-color: black;
    margin-bottom: 3px;
    /* border: 1px solid red; */
}

#blue-div-nav .hamburger-icon {
  margin: 16px 0px;
  cursor: pointer;
  /* padding: 0 2px; */
  transition: all 0.3ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

#blue-div-nav .toggler-icon {
    width: 18px;
    height: 3px;
    background-color: white;
    margin-bottom: 3px;
}

#white-div-nav .navbar-icons{
  position: relative;
  top: -30px;
  left: -70px;
}

#blue-div-nav .navbar-icons{
  position: relative;
  top: -30px;
  left: -70px;
} 

.white-div a:hover,
.blue-div a:hover {
  text-decoration: none;
}

.blue-div {
  color: white;
  font-size: 20px;
  height: 60px;
  background: linear-gradient(
    90deg,rgba(25, 11, 160, 1) 0%,rgba(33, 19, 168, 1) 56%,
    rgba(25, 11, 160, 1) 100%
  );
}

.blue-div a, .blue-div a:hover{
  color: white;
  font-weight: 600;
}

ul li.menu-links-outer-div, .hamburger-outer-div {
  padding: 10px 16px;
  position: relative;
}

#blue-div-nav .menu-links-outer-div:hover{
  background: rgba(38, 38, 38, 0.1);
}

#white-div-nav .menu-links-outer-div:hover{
  background: rgb(230, 230, 230);
}

footer.footer{
    text-align: justify;
    margin-top: 31px;
    padding-left: 25px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    background: #1f262d;
    line-height: 20px;
}


footer div#privacy{
  margin-top: 5px;
  margin-bottom: 5px;
}

footer span.terms-policy {
  font-weight: 600;
  color: white;
}

.row.sticky-nav {
  position: fixed;
  margin-left: 0px;
  margin-right: 0px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

/* .white-div */
#white-navbar-input-field {
  background-color: white;
  border-color: #bfbfbf;
  width: 320px;
}

#white-navbar-input-field:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid #190ba0;
}

#white-navbar-input-field::-webkit-input-placeholder,
#white-navbar-input-field::placeholder {
  color: #4e4d4d;
  position: relative;
  left: 25px;
}

.white-div-form{
  position: relative;
  left: -45px;
  top: 3px;
}

.white-div-form i.input-search-icon {
  z-index: 1;
  position: absolute;
  left: 17px;
  top: 10px;
  color: #757070;
  width: 0;
}

.white-div a.white-div-input em {
  font-weight: 600;
  font-size: 25px;
  color: #026cdf;
}

/* blue div */
#blue-navbar-input-field {
  background-color: #3578d5;
  border-color: #3578d5;
  width: 320px;
}

#blue-navbar-input-field:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid white;
}

.blue-div-form {
  position: relative;
  top: 4px;
  left: -30px;
}


.blue-div-form i.input-search-icon {
  z-index: 1;
  position: absolute;
  left: 17px;
  top: 10px;
  width: 0;
}

#blue-navbar-input-field::-webkit-input-placeholder,
#blue-navbar-input-field::placeholder {
  color: white;
  position: relative;
  left: 25px;
}

.large-screen-padding {
  max-width: 1296px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}




/* media queries */
/* @media only screen and (min-width: 320px) and (max-width: 375px){

} */

@media only screen and (max-width: 767px) {
  .blue-div-form, ul.large-screen-menulinks,
  .white-div-form,
  .white-div-input, #hide-div,
  .help, #placeholder-side-image {
    display: none;
  }
}


/* 
---------------------------------------------
styling for subscriptions page
--------------------------------------------- */
small#copy{
  font-size: 10px;
  position: relative;
  right: 5px;
}

.acct-events{
  word-spacing: 5px;
  padding-top: 15px;
  margin-left: 15px;
  margin-right: 10px;
}


a.my-account{
  color: #262626;
  font-size: 13px;
}

a.my-account:hover{
  text-decoration: none;
  color: #262626;
}

a.my-account::after, a.my-listings::after{
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  content: "\f105";
  font-weight: 900;
  display: inline-block;
}

#my-events-listing{
  padding-top: 20px;
  padding-bottom: 15px;
}

#my-events, #my-ticket-listings{
        /* font-weight: 600; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

#my-events h2{
  font-size: 32px;
  line-height: 45px;
  color: #262626;
  font-weight: 600;
  margin: 0 15px;
}

a.my-listings{
  font-size: 14px;
  font-weight: 600;
  color: #190ba0;
  line-height: 20px;
}

a.my-listings:hover, .tab-pane a:hover{
  text-decoration: none;
  color: #190ba0;
}

#nav-tabs ul li a{
  color: #a8a8a8;
  font-weight: 400;
}

#nav-tabs li a.active{
  color: #2d2626;
  /* border-bottom: 4px solid #026cdf; */
}

#nav-tabs ul li a:hover{
  color: #2d2626;
  text-decoration: none;
}

#nav-tabs li a.active::after{
  content: "";
  border-bottom: 4px solid #190ba0;
  display: block;
  width: 80px;
  position: relative;
  top: 5px;
}

hr#order-page-line{
  position: relative;
  bottom: 20px;
}

#nav-tabs{
  /* border: 1px solid red; */
  padding-bottom: 120px;
}

li a#past-events{
  position: relative;
  margin: 0px -10px;
}

li a#sold-tickets{
  position: relative;
  margin: 0px -20px;
}

.tab-pane .svg-img{
  padding-top: 50px;
  padding-bottom: 30px;
}

#page-load-event{
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
}

#nav-tabs .tab-pane a{
  font-size: 16px;
  font-weight: 600;
  color: #190ba0;
  line-height: 20px;
}

span.username{
  position: relative;
  left: 5px;
  font-weight: 800;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

.dropdown-menu{
  width: 255px;
}

#blue-div-nav ul.dropdown-menu li a{
  padding: 15px;
  color: #525151;
}

#blue-div-nav ul.dropdown-menu li a:hover{
  background: #190ba0; 
  color: white;
}

.my-listings{
    position: relative;
    left: -10px
}

@media only screen and (max-width: 320px){
    #my-events, #my-ticket-listings{
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 395px) {
  footer.footer {
    text-align: center;
    margin-top: 51px;
  }
}

@media only screen and (min-width:408px) {
  footer.footer {
    margin-top: 71px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 380px){
  #white-div-nav .navbar-icons, #blue-div-nav .navbar-icons {
    position: relative;
    left: -50px;
    /* margin: 0 15px; */
  }
}

@media only screen and (min-width:411px) and (max-width: 599px){

  #white-div-nav .navbar-icons, #blue-div-nav .navbar-icons {
    position: relative;
    left: -30px;
  }

  li a#past-events{
    position: relative;
    margin: 0px -40px;
  }

  li a#sold-tickets{
    position: relative;
    margin: 0px -60px;
  }

}

@media only screen and (min-width: 575px) {
  #white-div-nav .navbar-icons, #blue-div-nav .navbar-icons {
    position: relative;
    left: 40px;
    /* margin: 0 -75px; */
  }
}

@media only screen and (max-width:767px){
  .username{
      display: none;
  }
  
  .dropdown:hover .dropdown-menu{
      display: none;
  }
}

@media only screen and (min-width: 600px){
  li a#past-events{
    position: relative;
    margin: 0px -40px;
  }

  li a#sold-tickets{
    position: relative;
    margin: 0px -70px;
  }
}

@media only screen and (max-width: 991px){
  .row.expand-at-large, hr.expand-at-large{
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blue-div-form, .white-div-form, .white-div-input, .help,
  .username, ul.large-screen-menulinks{
      display: none;
  }

  .search-icon{
    /* display: inline-block; */
  }

  #white-div-nav .navbar-icons, #blue-div-nav .navbar-icons {
    position: relative;
    left: -10px;
  }

  #nav-tabs ul li a {
      /* font-size: 20px; */
  }

  li a#past-events{
    position: relative;
    margin: 0px -70px;
  }

  li a#sold-tickets{
    position: relative;
    margin: 0px -110px;
  }

  .dropdown:hover .dropdown-menu{
      display: none;
  }

}

/* media queries for large devices */
@media only screen and (min-width: 992px) {
 .hamburger-outer-div{
    display: none;
  }

  .blue-div, .hide-and-show  {
    font-size: 16px;
  }

  #blue-div-nav .large-screen-menulinks, 
  #white-div-nav .large-screen-menulinks {
    position: relative;
    /* left: 5px; */
    top: -8px;
  }

  #blue-div-nav .navbar-icons, #white-div-nav .navbar-icons {
    position: relative;
    left: 12%;
  }

  li a#past-events{
    position: relative;
    right: 10%;
    margin: 0 -70px;
  }

  li a#sold-tickets{
    position: relative;
    right: 13%;
  }

  footer header{
    font-size: 16px;
    color: white;
    margin-bottom: 16px;
  }

  footer .helpful-links div{
    margin-bottom: 16px;
  }

  footer a{
    font-size: 14px;
    color: white;
  }

  footer a:hover{
    color: #190ba0;
  }

  footer hr{
    border: 1px solid #8f9396;
  }
  footer.footer{
    text-align: justify;
  }

  footer div.center-at-lg{
    text-align: center;
  }

}

@media only screen and (min-width: 1200px) {

  .blue-div-form{
    position: relative;
    left: -50px
  }

  .white-div-form{
    position: relative;
    left: -65px
  }

  #blue-div-nav .large-screen-menulinks, 
  #white-div-nav .large-screen-menulinks {
    position: relative;
    left: 35px;
    /* left: 50px; */
  }

  #blue-div-nav .navbar-icons,  #white-div-nav .navbar-icons {
    position: relative;
    left: 17%;
    /* margin: 0 150px; */
  }

    #my-events h2{
        font-size: 46px;
    }

    li a#past-events{
      position: relative;
      right: 13%;
      margin: 0 -70px;
    }

    li a#sold-tickets{
      position: relative;
      right: 16%;
    }

    footer section.large-footer-padding{
        min-width: 1200px;
        width: 100%;
        padding-left: 64px;
        padding-right: 64px;
        box-sizing: border-box;
        margin: 0px auto;
        text-align: center;
    }

}

@media only screen and (min-width: 1440px){
  
  .blue-div-form{
    position: relative;
    left: -75px
  }

  .white-div-form{
    position: relative;
    left: -88px
  }

  #blue-div-nav .large-screen-menulinks, 
  #white-div-nav .large-screen-menulinks {
    position: relative;
    left: -35px;
  }

  #blue-div-nav .navbar-icons, #white-div-nav .navbar-icons {
    position: relative;
    left: 21%;
   /* margin: 0 230px; */
  }

 
  /* .large-screen-navlinks ul.navbar-nav > li.menu-links-outer-div:last-child:hover
  {
    background: none;
  }

  .large-screen-navlinks ul li.sub-list-div{
    padding: 15px 16px;
    position: relative;
  }

  #blue-div-nav .large-screen-navlinks li.sub-list-div:hover{
    background: rgba(38, 38, 38, 0.1);
  }

  #white-div-nav .large-screen-navlinks li.sub-list-div:hover{
    background: rgb(230, 230, 230);
  }

  .large-screen-navlinks .dropdown-menu a:hover{
    background: none;
  }

  #white-div-nav a.nav-link.more, #blue-div-nav a.nav-link.more{
      display: none;
  } */

  /* #blue-div-nav .large-screen-navlinks .dropdown .dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: -15px;
    border: none;
    background: none;
  }

  #white-div-nav .large-screen-navlinks .dropdown .dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: -3px;
    border: none;
    background: none;
  }

  #blue-div-nav .large-screen-navlinks .dropdown-menu a{
    color: white;
    position: relative;
    top: 8px;
    margin: auto -10px;
  }

  #white-div-nav .large-screen-navlinks .dropdown-menu a{
    position: relative;
    top: 8px;
    margin: auto -20px;
  }

  li a#past-events{
    position: relative;
    right: 15%;
    margin: 0 -70px;
  }

  li a#sold-tickets{
    position: relative;
    right: 18%;
  } */

  footer section.large-footer-padding{
    max-width: 1296px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    margin: 0px auto;
  }
    
}

/*part of page 7 styles */

.ticket-div {
  width: 150px;
  height: 150px;
  background-color: #DFE4E7;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin: 20px 0;
}

.ticket-container {
    background-color: #F6F6F6;
}
.ticket-div .first {
  color: #59656E;
  position: relative;
  left: -20px;
  z-index: 3;
}

.ticket-div .second {
  color: #768692;
  position: relative;
  left: 20px;
  z-index: 1;
}

i.fa-ticket-alt{
  margin: 50px auto;
  font-size: 48px;
  transform: rotate(140deg);
}

#my-ticket-listings h4{
  line-height: 45px;
  color: #262626;
  font-weight: 600;
  padding: 0 15px
}

#nav-tabs li.ticket-list a.active::after{
  content: "";
  border-bottom: 4px solid #190ba0;
  display: block;
  width: 80px;
  position: relative;
  top: 5px;
  margin: 0 -15px;
}

.ticket-lists-comment{
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}


/* styling for modal container */
@media only screen and (max-width: 991px){
  .navbar-icons{
    display: flex;
    flex-direction: row;
  }
}


.modal-nav-container{
  background-color: rgb(31, 38, 45);
  color: rgb(255, 255, 255);
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.modal-nav-container.open{
  visibility: visible;
  opacity: 1;
  transform: translateZ(0px);
}

.modal-nav-content{
  display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal-nav-body{
  padding: 16px 16px 64px;
}

.modal-nav-header{
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 60px;
  color: white;
  /* font-size: 20px; */
  height: 60px;
  background: linear-gradient(
    90deg,rgba(25, 11, 160, 1) 0%,rgba(33, 19, 168, 1) 56%,
    rgba(25, 11, 160, 1) 100%
  );
  padding: 15px;
}

a.list-link-heading{
  display: block;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

ul.modal-list-links{
  display: flex;
  flex-direction: column;
  margin: 0;
}

ul.modal-list-links li.app-buttons{
  display: flex;
  flex-direction: row;
  margin: auto -10px;
  /* justify-content: space-around; */
}

li.app-buttons a:last-child{
  margin: auto -15px;
}

ul.modal-list-links li a{
  display: block;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  padding-top: 10px;
}

div#close-btn button.close i.fa-times{
  /* padding: 5px; */
  color: white;
  text-shadow: none;
  font-size: 1em;
  /* background-color: white; */
}

button.close{
   opacity: 1;
   /* transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s; */
}

hr.modal-horizontal-line{
  background: rgba(255, 255, 255, 0.4);
  border-width: 1px;
  height: 1px;
  /* border-top-width: 0; */
}