body {
  font: normal 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* overflow-x: hidden; */
  letter-spacing: 0.3px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  position: relative
}

html, body {
  overflow-x: hidden;
}

.hide-and-show {
  color: #4e4d4d;
  font-size: 20px;
  display: none;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
  border: 1px solid white;
  background-color: white;
}

.hide-and-show a, .hide-and-show a:hover {
   color: #4e4d4d;
   font-weight: 600;
}

.blue-div-logo{
  position: relative;
  left: -20px;
  top: -23px;
}

.white-div-logo {
  position: relative;
  left: -35px; 
  top: -25px;
}

.white-div a:hover,
.blue-div a:hover {
  text-decoration: none;
}

.blue-div {
  color: white;
  font-size: 20px;
  height: 60px;
  background: linear-gradient(
    90deg,rgba(25, 11, 160, 1) 0%,rgba(33, 19, 168, 1) 56%,
    rgba(25, 11, 160, 1) 100%
  );
}

.blue-div a, .blue-div a:hover{
  color: white;
  font-weight: 600;
}

ul li.menu-links-outer-div, .hamburger-outer-div {
  padding: 10px 16px;
  position: relative;
}

#blue-div-nav .menu-links-outer-div:hover{
  background: rgba(38, 38, 38, 0.1);
}

#white-div-nav .menu-links-outer-div:hover{
  background: rgb(230, 230, 230);
}

.row.sticky-nav {
  position: fixed;
  margin-left: 0px;
  margin-right: 0px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

/* .white-div */
#white-navbar-input-field {
  background-color: white;
  border-color: #bfbfbf;
  width: 320px;
}

#white-navbar-input-field:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid #190ba0;
}

#white-navbar-input-field::-webkit-input-placeholder,
#white-navbar-input-field::placeholder {
  color: #4e4d4d;
  position: relative;
  left: 25px;
}

.white-div-form{
  position: relative;
  left: -45px;
  top: 3px;
}

.white-div-form i.input-search-icon {
  z-index: 1;
  position: absolute;
  left: 17px;
  top: 10px;
  color: #757070;
  width: 0;
}

.white-div a.white-div-input em {
  font-weight: 600;
  font-size: 25px;
  color: #190ba0;
}

/* blue div */
#blue-navbar-input-field {
  background-color: #3578d5;
  border-color: #3578d5;
  width: 320px;
}

#blue-navbar-input-field:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid white;
}

.blue-div-form {
  position: relative;
  top: 4px;
  left: -30px;
}

.blue-div-form i.input-search-icon {
  z-index: 1;
  position: absolute;
  left: 17px;
  top: 10px;
  width: 0;
}

#blue-navbar-input-field::-webkit-input-placeholder,
#blue-navbar-input-field::placeholder {
  color: white;
  position: relative;
  left: 25px;
}

span.username{
  position: relative;
  left: 5px;
  font-weight: 800;
}

.help{
  position: relative;
  left: 5px;
  font-weight: 800;
}

.dropdown:hover .dropdown-menu{
  display: none;
}

.dropdown-menu{
  width: 255px;
}

.dropdown-menu a{
  padding-bottom: 15px;
  color: #525151;;
}

.dropdown-menu a:hover{
  background: #190ba0; 
  color: white !important; 
}

#white-div-nav .hamburger-icon {
  margin: 16px 0px;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

#white-div-nav .toggler-icon {
  width: 18px;
  height: 3px;
  background-color: black;
  margin-bottom: 3px;
  
}

#blue-div-nav .hamburger-icon {
  margin: 16px 0px;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

#blue-div-nav .toggler-icon {
    width: 18px;
    height: 3px;
    background-color: white;
    margin-bottom: 3px;
}

#white-div-nav .navbar-icons{
  position: relative;
  top: -30px;
  left: -70px;
}

#blue-div-nav .navbar-icons{
  position: relative;
  top: -30px;
  left: -70px;
} 

.large-screen-padding {
  max-width: 1296px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

/* .ticket-sales-header {
  color: white;
  font-size: 20px;
  padding: 10px;
  background: linear-gradient(
    90deg,rgba(25, 11, 160, 1) 0%,rgba(33, 19, 168, 1) 56%,
    rgba(25, 11, 160, 1) 100%
  );
  height: 180px;
  padding: 0;
} */

select.btn-color-theme, button.btn-color-theme{
  color: #190ba0;
  border: 1px solid #190ba0;
  background-color: transparent;
}

/* .company-logo a:hover, p#diamond-tour a:hover{
  text-decoration: none;
}


/* #ticket-sales-icons .toggler-icon{
    width: 18px;
    height: 3px;
    background-color: white;
    margin-bottom: 3px;
}

.company-logo{
 position: relative;
  left: -20px;
  margin-top: -17px;
  margin-bottom: -17px;
} */

/* .company-logo a em {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

small#copy{
  font-size: 10px;
  position: relative;
  right: 5px;
}

#ticket-sales-icons{
  position: relative;
  margin: 10px 0;
  left: 15px;
}

#ticket-sales-icons a{
  color: white;
} */

/* #ticket-sales-icons i.fas, #ticket-sales-icons i.far{
  font-size: 16px;
}


#sync-icon a, span#signin a, p#diamond-tour a{
  color: white;
}

#sell-ticket, span#signin a{
  font-size: 16px;
} */


/* .artist-schedule{
  background-color: #0256b2;
  color: white;
  height: 90px;
  border-top: 1px solid #014085;
  position: absolute;
  top: 60px;
  z-index: 2;
  width: 100%;
}

div#artist-img{
  position: relative;
  top: 7px;
  left: 15px;
}

p#diamond-tour{
  font-size: 12px;
  position: relative;
  top: 5px;
  font-weight: 500;
} */

/* button#more-info{
  border-radius: 30px;
  padding: 0px 5px;
  width: 120px;
  position: relative;
  top: 2px;

}

p#date-time{
  font-size: 14px;
  position: relative;
} */

#spinner{
  /* background: #e8ecf2; */
}

#spinner img{
  position: relative;
  left: 70px;
}

.spinner-icons i.fas{
  border: 1px solid white;
  border-radius: 3px;
  background: white;
  padding: 10px;
  text-align: center;
  width: 40px;
  height: 40px;
}

.spinner-icons i.fas.fa-undo, i.fas.fa-minus{
  color: #c1dbf7;
  font-size: 20px;
}

.spinner-icons i.fas.fa-plus{
  color: #190ba0;
  font-size: 20px;
}

/* .spinner-footer{
  color: #8e8f90;
  font-size: 12px;
  margin: 530px 0;
}

.spinner-footer a{
  color: #414142;
  font-weight: 600;
}

.spinner-footer a:hover{
  color: #848485;
} */

form select option[value="*"]{
  color: #190ba0;
}

button#filters::before{
  font-family: "Font Awesome 5 Free";
  content: "\f1de";
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  font-weight: 900;
}

#seat-calculator{
  border-left: 1px solid #dbe2e8;
  /* background: white; */
}

#input-left-slider{
  max-width: 100%;
  width: 50px;
  position: relative;
}

#input-right-slider{
  max-width: 100%;
  width: 70px;
  position: relative;
}
/* ==============================================
      slider section for purchasing tool
==============================================*/
.labels{
    font-size: 25px
}
.range-slider{
    width: 100%;
    position: relative;
    left: -30px;
    margin-top: 5px;
}
input[type="range"]{
  -webkit-appearance:none;
  width: 150px;
  height: 10px;
  border-radius:5px;
  background: #190ba0;
}

input[type="range"]::-webkit-slider-runnable-track{
   -webkit-appearance:none;
    appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.5);
  /* border: 1px solid #f77ade;; */
  cursor: pointer;
  position: relative;
  z-index: 1;
}


input[type='range']:nth-child(1)::-webkit-slider-thumb{
  z-index: 2;
}

input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
  background: none;
}

.range-slider span {
    /* border: 1px solid #f77ade;; */
    position: absolute;
    /* right: 100px; */
    top: 47px;
    left: 0;
    width: 40px;
    height: 40px;
    /* text-align: center;
    color: red;
    line-height: 30px;
    font-size: 25px;
    pointer-events: none; */
  }

  .range-slider .slider-right-span{
   position: absolute;
   float: right;
   margin-right: -5px;
}
  
  .slider-span-lease::before {
    content: attr(data-val) " ";
  }
  /* ==============================================
        Slider section end
==============================================*/

/* table styling */

ul.price-and-seat, .table-content{
  display: flex;
  justify-content: space-between;
}

tr.table-content{
  border-bottom: 1px solid #dee2e6;;
}

li a.active{
  color: black;
  font-weight: 700;
  /* border-bottom: 3px solid #026cdf; */
}

ul.price-and-seat li .active{
  content: "";
  border-bottom: 3px solid #190ba0;
  display: block;
  /* width: 80px; */
  position: relative;
  /* left: -15px; */
}

li a#seat-link{
  position: relative;
  /* left: 50px; */
}


li a#seat-link.active{
  /* width: 50%; */
  /* margin-left: -20px;
  margin-right: 20px; */
}

.none-active{
  color: #190ba0;
  font-weight: 400;
}

.tab-pane .table td, .tab-pane .table th{
  border-top-width: 0;
}

tr.table-head{
  background: #f8e4d4;
  display: flex;
  justify-content: space-between;
}

tr.table-head:hover{
  background-color: #f1f1f1;
}

td a {
  font-weight: 600;
  font-size: 14px;
}

i.fa-star{
  text-align: center;
  border: 2px solid #dfa24c;
  border-radius: 50%;
  padding: 5px 5px 7px;
  font-size: 10px;
  color: #dfa24c;
  background: white;
  /* width: 23px; */
}

.vip-package{
  color: #262626;
}

.money-range{
  font-size: 10px;
  color: #727272;
}

.number-rows, .zero-limit, footer button.btn-success{
  font-weight: 700;
}

.admission{
  font-size: 14px;
  color: #727272;
}

/* footer .footer-section{
  background: #f6f6f6;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 15px;
  font-weight: 700;
}

footer .ticket-limit{
  color: #919191;
  font-size: 12px;
}

footer button{
  position: relative;
  left: 10px;
} */

.active-tab-links{
  color: black;
}

li a, td a, span a {
    color: #190ba0;
    font-weight: 600;
}

.form-control:focus {
    border: 1px solid #190ba0 ;
    box-shadow: none;
    color: #190ba0;
}

.tab-pane {
    position: relative;
    left: 15px;
    padding-right: 0;
    padding-left: 0;
}

thead {
    border-bottom: 2px solid #dfa24c;
}

tbody tr{
    margin: -5px 0;
}

hr{
    margin-top: -1px;
    border-color: #dddddd;
    width: 100%;
}

#spinner div img{
  /* border-radius: 50%;
  max-width: 100%;
  width: 600px;
  height: 600px;
  position: relative;
  top: 100px; */
  /* width: 100%; */
  /* height: 100%; */
}

.event-image{
  background-image: url("../images/event-image.jpg");
  background-color: #cccccc;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
}

footer.footer{
    text-align: justify;
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    background: #1f262d;
    line-height: 20px;
}


footer div#privacy{
  margin-top: 5px;
  margin-bottom: 5px;
}

footer span.terms-policy {
  font-weight: 600;
  color: white;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    a#hide-show-medium{
        display: none;
    }
}


@media only screen and (min-width: 411px) and (max-width:767px){
  #ticket-sales-icons{
    position: relative;
    left: 40px;
  }

   .tickets-selection{
    margin: 0 18px;
  }

  .range-slider{
    position: relative;
    left: -50px;
  }
  input[type="range"]{
    width: 180px;
  }

  #input-right-slider{
    position: relative;
    right: 10px;
  }

  li a#seat-link{
    position: relative;
    left: 120px;
  }

  footer button{
    /* position: relative;
    left: 25px; */
  }

}

@media only screen and (min-width: 575px) {
  footer.footer {
    text-align: center;
  }
}

@media only screen and (max-width:767px){
  div#artist-tour{
    position: relative;
    left: 20px;
  }

  .sell-signin, #artist-img, #spinner{
    display: none;
  }
  
}

@media only screen and (min-width: 768px){
  .footer-section, #spinner, a#hide-medium-show {
    display: none;
  }

  i.fas, i.far{
    font-size: 16px;
  }

  div#artist-tour{
    position: relative;
    left: -10px;
  }

  #sync-icon{
    position: relative;
    left: 80px;
    /* border: 1px solid red; */
  }
  
  #user-icon {
    position: relative;
    left: 40px;
    /* border: 1px solid red; */
  }

  .tickets-selection{
    margin: 0 15px;
  }
 
  .range-slider{
    position: relative;
    left: -70px;
  }
  input[type="range"]{
    width: 570px;
  }

  li a#seat-link{
    position: relative;
    left: 330px;
  }

  table{
    /* border: 1px solid red; */
    height: calc(70vh);
    overflow-y: scroll;
  }

  /* html, body{
    overflow-y: hidden;
  } */
}

@media only screen and (min-width: 360px) and (max-width: 380px){
  #white-div-nav .navbar-icons, #blue-div-nav .navbar-icons {
     position: relative;
    left: -50px;
  }

  #ticket-sales-icons{
    position: relative;
    left: 30px;
  }

  .tickets-selection{
    /* margin: 0 8px; */
  }

  .range-slider{
    position: relative;
    left: -50px;
  }
  input[type="range"]{
    width: 180px;
  }

  #input-right-slider{
    position: relative;
    right: 10px;
  }

  footer button{
    /* position: relative;
    left: 25px; */
  }
}

@media only screen and (max-width: 767px) {
  .blue-div-form,
  .white-div-form,
  .white-div-input, #hide-div,
  .help, #placeholder-side-image,
  ul.large-screen-menulinks,
  #img-gallery, div.advert-section {
    display: none;
  }

  .username{
    display: none;
  }
}

/* media queries for large devices */
@media only screen and (max-width: 991px){
  .row.expand-at-large, hr.expand-at-large, .username,
  .expand-at-large {
    display: none;
  }
}

@media only screen and (min-width:411px) and (max-width: 599px){

  #white-div-nav .navbar-icons, #blue-div-nav .navbar-icons {
    position: relative;
    left: -30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .blue-div-form, .white-div-form, .white-div-input, .help,
  .username, ul.large-screen-menulinks{
      display: none;
  }

  #white-div-nav .navbar-icons, #blue-div-nav .navbar-icons {
    position: relative;
    left: -10px;
  }

  .dropdown:hover .dropdown-menu{
      display: none;
  }
}

@media only screen and (min-width: 992px) {
  .search-icon, .hamburger-outer-div, #hide-div, .hide-at-large {
    display: none;
  }

  .dropdown:hover .dropdown-menu{
    display: block;
  }

  .blue-div, .hide-and-show  {
    font-size: 16px;
  }

  #blue-div-nav .large-screen-menulinks, 
  #white-div-nav .large-screen-menulinks {
    position: relative;
    /* left: 5px; */
    top: -8px;
  }

  #blue-div-nav .navbar-icons, #white-div-nav .navbar-icons {
    position: relative;
    left: 12%;
  }

  #spinner{
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 90vh;
    width: 100%;
  }

  .ticket-sales-header{
    height: 150px;
  }

  #ticket-sales-icons{
    position: relative;
    left: 13%;
    /* border: 1px solid red; */
  }

  .tickets-selection{
    margin: 0 3px;
  }
 
  .range-slider{
    position: relative;
    left: -45px;
  }
  input[type="range"]{
    width: 240px;
  }

  li a#seat-link{
    position: relative;
    left: 130px;
  }

  div#artist-tour{
    position: relative;
    left: -70px;
  }

  table{
    /* border: 1px solid red; */
    height: calc(71vh);
    /* overflow-y: scroll; */
  }

  /* html, body{
    overflow-y: hidden;
  } */

  .spinner-icons{
    position: relative;
    left: 40px;
  }

  footer.footer{
    margin-top: -5px;
  }

  footer header{
    font-size: 16px;
    color: white;
    margin-bottom: 16px;
  }

  footer .helpful-links div{
    margin-bottom: 16px;
  }

  footer a{
    font-size: 14px;
    color: white;
  }

  footer a:hover{
    color: #190ba0;
  }

  footer hr{
    border: 1px solid #8f9396;
  }
  footer.footer{
    text-align: justify;
  }

  footer div.center-at-lg{
    text-align: center;
  }
}

@media only screen and (min-width: 1200px){
   .blue-div-form{
    position: relative;
    left: -50px
  }

  .white-div-form{
    position: relative;
    left: -65px
  }

  #blue-div-nav .large-screen-menulinks, 
  #white-div-nav .large-screen-menulinks {
    position: relative;
    left: 35px;
  }

  #blue-div-nav .navbar-icons,  #white-div-nav .navbar-icons {
    position: relative;
    left: 17%;
  }

  #sync-icon{
    position: relative;
    /* left: 60px; */
    /* border: 1px solid yellow; */
  }

  #ticket-sales-icons{
    position: relative;
    left: 19%;
  }

  div#artist-tour{
    position: relative;
    left: -120px;
    /* border: 1px solid red; */
  }

  .spinner-icons{
    position: relative;
    left: 60px;
  }

  footer section.large-footer-padding{
    min-width: 1200px;
    width: 100%;
    padding-left: 64px;
    padding-right: 64px;
    box-sizing: border-box;
    margin: 0px auto;
    text-align: center;
  }
}

@media only screen and (min-width: 1440px){
  
  .blue-div-form{
    position: relative;
    left: -75px
  }

  .white-div-form{
    position: relative;
    left: -88px
  }

  #blue-div-nav .large-screen-menulinks, 
  #white-div-nav .large-screen-menulinks{
    position: relative;
    left: -35px;
  }

  #blue-div-nav .navbar-icons, #white-div-nav .navbar-icons {
    position: relative;
    left: 21%;
  }

  #ticket-sales-icons{
    position: relative;
    left: 20%;
  }

  .tickets-selection{
    margin: 0 10px;
  }

  .range-slider{
    position: relative;
    left: -55px;
  }
  input[type="range"]{
    width: 280px;
  }

  footer section.large-footer-padding{
    max-width: 1296px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
    margin: 0px auto;
  }
}




/* styling for modal container */
@media only screen and (max-width: 991px){

  .navbar-icons{
    display: flex;
    flex-direction: row;
  }
}


.modal-nav-container{
  background-color: rgb(31, 38, 45);
  color: rgb(255, 255, 255);
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.modal-nav-container.open{
  visibility: visible;
  opacity: 1;
  transform: translateZ(0px);
}

.modal-nav-content{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal-nav-body{
  padding: 16px 16px 64px;
}

.modal-nav-header{
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 60px;
  color: white;
  /* font-size: 20px; */
  height: 60px;
  background: linear-gradient(
    90deg,rgba(25, 11, 160, 1) 0%,rgba(33, 19, 168, 1) 56%,
    rgba(25, 11, 160, 1) 100%
  );
  padding: 15px;
}

a.list-link-heading{
  display: block;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

ul.modal-list-links{
  display: flex;
  flex-direction: column;
  margin: 0;
}

ul.modal-list-links li.app-buttons{
  display: flex;
  flex-direction: row;
  margin: auto -10px;
}

li.app-buttons a:last-child{
  margin: auto -15px;
}

ul.modal-list-links li a{
  display: block;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  padding-top: 10px;
}

div#close-btn button.close i.fa-times{
  color: white;
  text-shadow: none;
  font-size: 1em;
}

button.close{
   opacity: 1;
   /* transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s; */
}

hr.modal-horizontal-line{
  background: rgba(255, 255, 255, 0.4);
  border-width: 1px;
  height: 1px;
}

